.container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  .content {
    display: flex;
    flex-direction: column;
    &__item {
      //width: 80%;

      &.fileInput {
        padding: 5px 0 25px 0;
      }
    }

    .error {
      color: red;
      font-weight: 500;
    }

    &__actors {
      display: flex;
      flex-direction: column;
      align-items: center;

      .add-btn {

        &:hover {
          cursor: pointer;
        }
        height: 100%;
      }
    }
  }

  .actions {
    justify-content: center;
  }

  .actor-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: 45%;
    }

    .remove-btn:hover {
      cursor: pointer;
    }
  }
}
