<div class="container">
  <h2 mat-dialog-title>Add new film</h2>
  <form [formGroup]="filmFormGroup" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="content">
      <mat-form-field class="content__item" appearance="fill">
        <mat-label>Name:</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Ex. Avatar"
        >
      </mat-form-field>
      <mat-form-field class="content__item" appearance="fill">
        <mat-label>Year of issue:</mat-label>
        <input
          type="number"
          matInput
          formControlName="year"
          placeholder="Ex. 2019"
        >
      </mat-form-field>
      <mat-form-field class="content__item" appearance="fill" floatLabel="always">
        <mat-label>Box office:</mat-label>
        <span matPrefix>$&nbsp;</span>
        <input
          type="number"
          matInput
          formControlName="boxOffice"
          placeholder="Ex. 2035234"
        >
      </mat-form-field>
      <div class="error">
        <span *ngIf="filmFormGroup.invalid">
          {{ 'Fill required fields' }}
        </span>
      </div>
      <input
        class="content__item fileInput"
        type="file"
        formControlName="poster"
        accept="image/**"
        (change)="onPosterLoaded($event)"
      >
      <div class="content__actors">
        <h4>Actors: </h4>
        <ng-container formArrayName="actors">
          <ng-container *ngFor="let actor of actors.controls; let i = index">
            <div class="actor-row" [formGroupName]="i">
              <mat-form-field class="actor-row__item" appearance="fill">
                <mat-label>Name :</mat-label>
                <input
                  #actorName
                  cdkFocusInitial
                  type="text"
                  matInput
                  formControlName="name"
                  placeholder="Ex. Will"
                >
              </mat-form-field>
              <mat-form-field class="actor-row__item" appearance="fill">
                <mat-label>Surname :</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="surname"
                  placeholder="Ex. Smith"
                >
              </mat-form-field>
              <mat-icon class="remove-btn" (click)="removeActor(i)">delete_forever</mat-icon>
            </div>
          </ng-container>
          <button
            class="add-btn"
            mat-mini-fab
            matTooltip="Add new actor"
            matTooltipPosition="after"
            type="button"
            (click)="addActor()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="actions">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!this.filmFormGroup.valid"
      >
        Save
      </button>
      <button
        mat-raised-button
        mat-dialog-close
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</div>
