@import "src/styles/variables";

.header {
  display: flex;
  min-height: 60px;
  justify-content: flex-end;
  align-items: center;

  &__search {
    flex: 0 1 800px;
    padding: 0 5px 0 20px;

    .input {
      width: 100%;

      @media (max-width: $mobileSmall) {
        transition: all 0.3s ease 0s;
        width: 130px;
      }
    }

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }
  }

  &__back {
    display: block;

    .active {
      display: none;
    }

  }

  &__favorites {
    padding: 0 10px;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }

    .link {
      text-decoration: none;
      color: inherit;
    }

    .count {
      width: 22px;
      height: 22px;
      margin-left: -18px;
      border-radius: 50%;
      position: absolute;
      left: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      font-weight: 600;
      font-size: 12px;
      background: rgb(58, 119, 255);
    }
  }

  &__theme-slider {
    padding: 0 25px 0 0;

    .title {
      display: inline-block;
      @media (max-width: $mobileSmall) {
        transition: all 0.3s ease 0s;
        display: none;
      }
    }
  }
}


