<div class="header">
  <div class="header__search">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Search films</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        matInput
        [formControl]="searchFormControl"
      >
    </mat-form-field>
  </div>
  <div class="header__favorites">
    <a href="" class="link">
      <button mat-icon-button aria-label="Favorites">
        <mat-icon>favorite_border</mat-icon>
        <span *ngIf="favoritesCount" class="count">{{ favoritesCount }}</span>
      </button>
    </a>
  </div>
  <div class="header__theme-slider">
    <mat-slide-toggle
      color="primary"
      [labelPosition]="'before'"
      (change)="toggleTheme($event.checked)"
      [checked]="isDarkMode"
    >
    <span>Dark mode</span>
    </mat-slide-toggle>
  </div>
</div>
