// Dark theme colors
$primary-dark-theme: #37474f;
$background-dark-theme: #212126;
$accent-dark-theme: #1976d2;
$warn-dark-theme: red;

// Light theme colors
$primary-light-theme: #03a9f4;
$background-light-theme: #e1f1f1;
$accent-light-theme: #1a237e;
$warn-light-theme: red;

$mobileSmall: 578 + px;
$mobile: 768 + px;
$tablet: 992 + px;
$maxWidthContainer: 1400;
