@use '@angular/material' as mat;
@import '@angular/material/theming';


@mixin film-card($theme) {
  $background: map-get($theme, background);

  .film-card {
    background-color: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($background, color);
  }
}
