@import "src/styles/variables";

.film-card {
  display: flex;
  min-height: 200px;
  height: 100%;
  position: relative;

  @media (max-width: $mobileSmall) {
    flex-direction: column;
  }

  &__img {
    flex: 0 0 50%;
    align-self: center;
    img {
      padding: 20px 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  .content-item {
    padding: 20px 0 20px 15px;
    flex: 1 1 auto;

    &__icons {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 4px;
      right: 4px;

      .remove {
        &:hover {
          color: red;
          cursor: pointer;
        }
      }

      .favorite {

      }
    }

    &__remove-icon {
      position: absolute;
      top: 4px;
      right: 4px;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }

    &__title {
      padding: 0 24px 0 0;

      &:hover {
        text-decoration: underline;
      }
    }

    &__issue-year {

    }

    &__box-office {

    }
  }

  .field_name {
    font-weight: bold;
  }
}
