.film-card {
  display: flex;

  min-height: 200px;

  &__img {
    flex: 0 0 50%;
    align-self: center;
    img {
      margin-left: 10px;
      max-width: 100%;
    }
  }

  .content-item {
    padding: 0 0 0 15px;
    flex: 1 1 auto;
    span {
      font-weight: bold;
    }

    &__title {

      &:hover {
        text-decoration: underline;
      }
    }

    &__issue-year {

    }

    &__box-office {

    }
  }
}
