@use '/node_modules/@angular/material/index' as mat;
@use 'sass:map';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./styles/variables";

@include mat.core();
@import '~@angular/material/theming';
@import 'styles/custom-theme';
@include mat-core();
// Include the theme mixins for other components you use here.

@import "app/components/main-tool-bar/main-tool-bar.component.theme";
@import "app/components/films/film-tool-bar/film-tool-bar.component.theme";
@import "app/app.component.theme";
@import "app/components/films/film-card/film-card.component.theme";
@import "app/components/films/film-grid/film-grid.component.theme";

@mixin web-custom-components-theme($theme) {
  @include main-tool-bar($theme);
  @include film-tool-bar($theme);
  @include app-component($theme);
  @include film-card($theme);
  @include film-grid($theme);
}

.light-theme {
  @include web-custom-components-theme($light-theme);
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include web-custom-components-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;

  .mat-select {
    width: auto;
  }

  .mat-menu-content:not(:empty) {
    padding: 0;
  }
}
